.navbar{
    display: flex;
}

.actions{
    display: flex;
    gap: 10px;
}

.create-btn{
    background: black;
    color: white;
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 600;
    width: 204px;
    height: 45px;
    border-radius: 5px;
}

.lgn-btn{
    background: white;
    color: black;
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 600;
    width: 140px;
    height: 45px;
    border-radius: 5px;
}

.landing-btn-secondary {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
}

.landing-btn-secondary:hover {
    transform: translateY(-3px);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}